<app-maintenance *ngIf="router.url === '/maintenance'"></app-maintenance>

<div class="wrapper">
    <app-auth *ngIf="router.url === '/login'"></app-auth>
    <div class="sidebar" data-color="blue" data-background-color="white" data-image="./assets/img/sidebar-1.jpg" *ngIf="isLogin() && (router.url !== '/login' && router.url !== '/maintenance')">
        <app-navbar ></app-navbar>
        <app-sidebar ></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel" *ngIf="isLogin() && (router.url !== '/login' && router.url !== '/maintenance')">
        <router-outlet></router-outlet>
        <div>
            
            <app-footer></app-footer>
        </div>
    </div>
</div>
