<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <table #UserList class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of persons">
              <td>{{ person.id }}</td>
              <td>{{ person.name }}</td>
            </tr>
            <tr *ngIf="persons?.length == 0">
              <td colspan="3" class="no-data-available">No data!</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>NAME</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>