<div class="list-container">
    <div class="todo-container column-container">
        <div class="list"
             cdkDropList
             (cdkDropListDropped)="onDrop($event)">
            <h2>Tech to learn</h2>
            <div *ngFor="let todo of todos">
                <div>
                    <div>{{todo.name}}</div>
                    <div>{{todo.category}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="done-container column-container">
        <div class="list">
            <h2>Tech learned</h2>
            <div *ngFor="let complete of completed">
                <div>
                    <div>{{complete.name}}</div>
                    <div>{{complete.category}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
